<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Users list</title>
</head>
<body>
<div align="center">
    <h2>Users List</h2>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>E-mail</th>
            <th>Actions</th>
        </tr>
        <tr th:each="user :${users}">
                <td><p th:text="${user.id}"/></td>
                <td><p th:text="${user.firstName}"/></td>
                <td><p th:text="${user.lastName}"/></td>
                <td><p th:text="${user.email}"/></td>
                <td>
                    <a th:href = "@{/editUser/{id}(id=${user.id})}">Edit User</a>
                    <a th:href = "@{/deleteUser/{id}(id=${user.id})}">Delete User</a>
                </td>
        </tr>
    </table>
    <br><br>
    <input type="button" value="Add New User"
           onclick="window.location.href = 'addNewUser'"/>
</div>
</body>
</html>